 html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #250096;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, #caeaff 100%);
    
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 3px;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
input {
  outline: none;
}
input{
  background-color: transparent;
    font-family: "Montserrat", sans-serif;
  color: #250096;
}